@import "tailwindcss";
@import "flowbite";

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../../public/images/fond-pokemon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}
